td{
	margin-top: 0px;


}
.table {
	margin-top: 15%;
}
.h1,  .h3, .h4, .h5, .h6, h1, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed';
    font-weight: 500;
    line-height: 1.1;
    color: #286090;
}

.h2 , h2 {

	color: White;
	text-align: Center;
	margin-top: 30px;
	margin-bottom: 0px;
}
